.menu-mobil
    h2.menu-mobil__titulo Categorias
    .menu-mobil__nav-mobil
            span.nav-mobil__menu Clothes
            span.nav-mobil__menu Electronics
            span.nav-mobil__menu Furniture
            span.nav-mobil__menu Toys
            span.nav-mobil__menu Others
    .menu-mobil__email-menu
            span.nav-mobil__menu My orders
            span.nav-mobil__menu My account
    .menu-mobil__sing-in
            .sing-in__check
                input.check__checkbox(type='checkbox')
            .sing-in__sing-in#inactive
                span.sing-in__sing-o-email Sing In
            .sing-in__emailActive#inactive
                span.emailActiv__email barriosloayza@gmail.com


