header.contenedor-header
    .contenedor-header__menu-izquierda
        .menu-izquierda__menu-mobil
            img.menu-mobil__img(src="../01-ASSETS/01-icons/icon_menu.svg", alt="")
        .menu-izquierda__logo-yard-sale
            img.logo-yard-sale__img(src="../01-ASSETS/02-logos/logo_yard_sale.svg", alt="")
        .menu-izquierda__menu-all
            input.menu-all__input(type="submit" value="All")
        .menu-izquierda__nav-bar
            span.nav-bar__menu Clothes
            span.nav-bar__menu Electronics
            span.nav-bar__menu Furniture
            span.nav-bar__menu Toys
            span.nav-bar__menu Others
    .contenedor-header__menu-derecha
        .menu-derecha__check
            input.check__checkbox(type='checkbox')
        .menu-derecha__sing-in
            span.sing-in__sing-o-email Sing In
        .menu-derecha__emailActive
            span.emailActiv__email barriosloayza@gmail.com
        .menu-derecha__carrito
            img.carrito__img(src="../../01-ASSETS/01-icons/icon_shopping_cart_notification.svg", alt="")
