.contenedor-header {
    display: flex;
    flex-direction: row;
    height: 5.4rem;
    min-height: 5.4rem;
    justify-content: space-between;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.046805);

    &__menu-izquierda {
        display: flex;
        flex-direction: row;

        @media (max-width:790px) {
            flex-grow: 1;

        }

        .menu-izquierda__menu-mobil {
            display: none;

            @media (max-width:790px) {
                display: block;
                width: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;


                .menu-mobil__img {
                    width: 2.3rem;
                    height: 1.8rem;
                }

            }
        }

        .menu-izquierda__logo-yard-sale {
            width: 20rem;
            height: 5.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            flex-grow: 1;

            .logo-yard-sale__img {
                width: 14.4rem;
                height: 3.0rem;



            }

        }

        .menu-izquierda__menu-all {
            width: 4.7rem;
            height: 5.4rem;
            display: flex;
            align-items: center;


            .menu-all__input {
                width: 4.7rem;
                height: 3.1rem;
                color: $Hospital-green;
                border: solid 0.1rem $Hospital-green;
                border-radius: 1rem;
                font-size: $fs-16;
                font-weight: 700;
                line-height: 2rem;
            }


            @media (max-width:790px) {
                display: none;

            }
        }

        .menu-izquierda__nav-bar {
            width: 35rem;
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 1.5rem;
            align-items: center;


            .nav-bar__menu {
                font-size: $fs-16;
                font-weight: 500;
                color: $font-secundary-color;
                line-height: 2rem;
                cursor: pointer;
            }

            :hover {
                color: $Hospital-green;
            }

            @media (max-width:790px) {
                display: none;

            }

        }

    }

    &__menu-derecha {
        display: flex;
        flex-direction: row;
        align-items: center;

        .menu-derecha__check {
            width: 4rem;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .check__checkbox {
                width: 2rem;
                height: 2rem;

            }

            @media (max-width:790px) {
                display: none;

            }

        }

        .menu-derecha__sing-in {
            width: 8rem;
            display: flex;
            justify-content: center;


            .sing-in__sing-o-email {
                font-size: $fs-16;
                color: $Hospital-green;
                font-weight: 700;
                line-height: 1.75rem;
                cursor: pointer;
            }


            @media (max-width:790px) {
                display: none;

            }

        }

        .menu-derecha__emailActive {

            width: auto;
            display: flex;
            justify-content: center;




            .emailActiv__email {
                font-size: $fs-16;
                color: $black;
                font-weight: 700;
                line-height: 1.75rem;
                cursor: pointer;
            }


            @media (max-width:790px) {
                display: none;

            }


        }














        .menu-derecha__carrito {
            width: 7rem;
            height: 5.4rem;
            display: flex;
            justify-content: center;
            align-items: center;


            .carrito__img {
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;
            }
        }
    }
}