extend ../03-CONFIGURACIONES-GENERALES/01-03-PUG/_02-Head.pug
block css__estilos
   link(rel="stylesheet", href="./style.css")
block contenido
   include ../02-COMPONENTES-WEB/01-HEADER/_01-Header.pug
   include ../02-COMPONENTES-WEB/02-MENU-MYACOUNT/_01-Menu-MyAccout.pug
   script(src="./main.js") 